body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
  
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
  
 }
 nav li{
    margin-left: 25px;
    list-style-type: upper-roman;
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    border-style: solid;
    background-color: aqua;
    border-color: green;
    width: 20%;
    margin: 20px;
 }
 
 img
 {
     width: 24%;
     padding: 10px;
     border-style: dashed;
     border-color: red;
     border-width: 2px;
     margin: 0px;
     box-sizing: border-box;
 }

 p{
     cursor: w-resize;
     border-radius: 15px;
     border-style: dotted;
     margin: 0px 30px;
     text-align: center;
 }

 .gallery{
    display: grid;
    grid-template-columns: 15% 15%;
    border: solid 2px black;
    border-width: 90%;
    align-content: center;
    justify-content: center;
    justify-items: center;
 }
 .gallery img{
    
    width:90%;
    border: solid 1px black;
    border-width: 90%;
    align-content: center;
    
 }
 .gallery img:last-child{
   grid-column: 1/3;
   width:80%;
   justify-self: center;

}